.silo{
    margin: 0 auto 0 auto;
    border: 6px solid black;
    width: 500px;
    padding: 5px 5px 5px 5px;
}
.container {
    margin: 0 auto 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.col{
    display: flex;
    flex-direction: row;
}
.col-clear button{
    width: 25%;
    float: right;
}
button{
    width: 100%;
    height: 80px;
    font-size: 24px;
    /* margin: 0 0 10px 0; */
}
.screen{
    margin: 0 auto 4px auto;
    width: 480px;
    height: 50px;
    border: 4px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: end;
    font-size: 40px;
    font-family: 'digital';
    background-color: black;
    color: white;
}
.add{
    background-color: #51e2f5;
}
.subtract{
    background-color: #9df9ef;
}
.multiply{
    background-color: #ffa8B6;
}
.divide{
    background-color: #a28089;
}
